@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;700&display=swap');

body {
    background-color: #ffffff;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.animated-image {
    width: 300px;
    height: auto;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.buy-button {
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.buy-button:hover {
    background-color: #333;
}
